{{define "content"}}
<h1 class="page-header">Dashboard</h1>

<h2>Stats:</h2>
<p>0 out of 0 monitor are up</p>
<br>

<!-- TODO: Center, but how?? -->
<div class="row" id="monitor-stats">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Up monitors</span>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Down monitors</span>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Paused monitors</span>
  </div>
</div>

<h2 class="sub-header">
  Monitors: 
  <a style="float:right;"  href="/monitors/add/" class="btn btn-primary" role="button">Add Monitor</a>
  <div style="float:clear;"></div>
</h2>

<div class="table-responsive">
  {{if .}}
  <table class="table table-striped" id="monitors">
    <thead>
      <tr>
        <th class="num">#</th>
        <th class="stat">Status</th>
        <th class="type">Type</th>
        <th class="name">Name</th>
      </tr>
    </thead>
    <tbody>
      {{range $e := .}}
      <tr>
          <td class="num">
			  <a href="/monitors/view/{{$e.Id}}">{{$e.Id}}</a>
		  </td>

          <td class="stat">
			  <a href="/monitors/view/{{$e.Id}}">{{$e.Event.ShortName}}</a>
		  </td>
          
		  <td class="type">
		  	  <a href="/monitors/view/{{$e.Id}}">{{$e.Type}}</a>
		  </td>
          
		  <td class="name">
		  	  <a href="/monitors/view/{{$e.Id}}">{{$e.Name}}</a>
		  </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{else}}
  <p>You do not have any monitors, yet</p>
  {{end}}
</div>
{{end}}

{{define "title"}}Dashboard {{template "title-base"}}{{end}}

{{template "layout" .}}
